<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
    <body>
        <form action="j_security_check" method="post">
            <div class="container">
                <input type="text" placeholder="Enter Username" name="j_username" required>

                <input type="password" placeholder="Enter Password" name="j_password" required>

                <button type="submit">Login</button>

            </div>
        </form>
    </body>
</html>